[submodule "third_party/ALIKE"]
	path = third_party/ALIKE
	url = https://github.com/Shiaoming/ALIKE
[submodule "third_party/kornia"]
	path = third_party/kornia
	url = https://github.com/Raghav-B/kornia
